/*        Stilimi i tabeles*/
#customers {
    font-family: Arial, Helvetica, sans-serif;


}

#customers th, td {
    border-bottom: 1px solid #04AA6D;
    border-collapse: collapse;
}

#customers tr {
    background-color: #ddd;

}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.hide_row {
    display: none;
}
.bottomBorder {
    border-bottom: 12px #04AA6D;
}